/* Las medidas del elemento con la clase "padre" serán: */
.elemento {
  height: 150px;
  width: 150px;
  min-height: 100px;
  min-width: 100px;
}

.e1 {
  /* Nuevo código */
  background-color: rgb(248, 182, 248);
  border-radius: 10px;
  border: 25px solid rgb(194, 122, 194);
}

.e2 {
  /* Nuevo código */
  background-color: rgb(194, 122, 194);
  border-style: groove;
  border-radius: 10px 50px;
  border-width: 25px;
  border-color: rgb(162, 80, 162);
}

.e3 {
  /* Nuevo código */
  background-color: rgb(162, 80, 162);
  border-radius: 10px 40px 80px;
  border-top: 25px solid rgb(147, 0, 147);
}

.e4 {
  /* Nuevo código */
  background-color: rgb(147, 0, 147);
  border-radius: 10px 40px 60px 100px;
  border-bottom: 25px solid rgb(78, 3, 78);
}
