/* Las medidas del elemento con la clase "padre" serán: */
.padre {
  background-color: violet;
  /* el 100% del alto de su elemento padre*/
  height: 100%;
  /* el 100% del ancho de su elemento padre*/
  width: 100%;
  /* pero no mas bajo que 100px*/
  min-height: 100px;
  /* ni mas angosto que 100px*/
  min-width: 100px;
}

/* Las medidas del elemento con la clase "hijo" serán: */
.hijo {
  background-color: yellow;
  /* el 50% del alto de su elemento padre*/
  height: 50%;
  /* el 50% del ancho de su elemento padre*/
  width: 50%;
  /* pero no mas bajo que 100px*/
  min-height: 100px;
  /* ni mas angosto que 100px*/
  min-width: 100px;
}
