.elemento {
  height: 150px;
  width: 200px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 10px;
  background-color: rgb(147, 0, 147);
  color: white;
  font-size: 25px;
}

.e1 {
  /* Nuevo código */
  padding: 20px;
}

.e2 {
  /* Nuevo código */
  padding: 50px 20px;
}

.e3 {
  /* Nuevo código */
  padding: 100px 80px 60px 40px;
}

.e4 {
  /* Nuevo código */
  padding-top: 50px;
}

.e5 {
  /* Nuevo código */
  padding-bottom: 50px;
}
.e6 {
  /* Nuevo código */
  padding-right: 50px;
}
.e7 {
  /* Nuevo código */
  padding-left: 50px;
}
